.button {
  display: inline-block;

  padding: 10px;
  border: 1px solid;

  text-decoration: none;
  color: #24a262;
}

.button + .button {
  margin-left: 10px;
}

.button:hover {
  border: 1px solid transparent;

  color: white;
  background-color: #4a235a;

  transform: scale(.95);
  transition: transform .3s ease;
}
